################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Amerigas.FuelProviders.API/obj/Debug/net5.0
/Amerigas.FuelProviders.API/bin/Debug/net5.0
/.vs/Amerigas.FuelProviders.API
/Amerigas.FuelProviders.API/obj
